<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<defaults>
		<!-- Default number of times that a deck should be shuffled during a shuffle operation. -->
		<!-- This opeation is not too processor heavy, but it is done on the main thread so     -->
		<!-- lower numbers are better. Higher shuffle values ensure better randomization.       -->
		<shufflecount>15</shufflecount>
		<gametypes>
			<gametype name="FUN: $50 all players, Limit:$5/$2.50, doubles every 20 minutes" type="fun">
				<dealercash>50</dealercash> <!-- Given to each player at start; only valid with "fun" game type -->
				<levels>
					<!-- timer attribute format: hh:mm                -->
					<!-- timer attribue alternate format: hh:mm:ss    -->					
					<!-- timerFormat:                                 -->
					<!-- h - hours with no leading 0                  -->
					<!-- H - hours with leading 0                     -->
					<!-- m - minutes with leading 0                   -->
					<!-- M - minutes with leading 0                   -->
					<!-- s - seconds with leading 0                   -->
					<!-- S - seconds with leading 0                   -->
					<level timer="00:20:00" timerformat="h:M:S">
						<bigblind>5</bigblind>
						<smallblind>2.50</smallblind>
					</level>
					<level timer="00:20:00" timerformat="h:M:S">
						<bigblind>10</bigblind>
						<smallblind>5</smallblind>
					</level>
					<level timer="00:20:00" timerformat="h:M:S">
						<bigblind>20</bigblind>
						<smallblind>10</smallblind>
					</level>
					<level timer="00:20:00" timerformat="h:M:S">
						<bigblind>40</bigblind>
						<smallblind>20</smallblind>
					</level>
				</levels>
			</gametype>
		</gametypes>
	</defaults>
	<gamephases>		
		<phase name="Pre-Flop">		
			<dealcards>2</dealcards>	 <!-- per player -->			
		</phase>
		<phase name="Flop">			
			<communitycards>3</communitycards>
		</phase>
		<phase name="Turn">
			<communitycards>1</communitycards>
		</phase>
		<phase name="River">
			<communitycards>1</communitycards>
		</phase>		
	</gamephases>
	<cards>		
		<deck name="default" src="../PokerCardGame/assets/StandardDeck.swf">
			<!-- facevalue="low;high" -->
			<card name="Ace of Spades" facevalue="1;14" facetext="ace" color="black" suit="spades" class="AceOfSpades" />
			<card name="Two of Spades" facevalue="2" facetext="two" color="black" suit="spades" class="TwoOfSpades" />
			<card name="Three of Spades" facevalue="3" facetext="three" color="black" suit="spades" class="ThreeOfSpades" />
			<card name="Four of Spades" facevalue="4" facetext="four" color="black" suit="spades" class="FourOfSpades" />
			<card name="Five of Spades" facevalue="5" facetext="five" color="black" suit="spades" class="FiveOfSpades" />
			<card name="Six of Spades" facevalue="6" facetext="six" color="black" suit="spades" class="SixOfSpades" />
			<card name="Seven of Spades" facevalue="7" facetext="seven" color="black" suit="spades" class="SevenOfSpades" />
			<card name="Eight of Spades" facevalue="8" facetext="eight" color="black" suit="spades" class="EightOfSpades" />
			<card name="Nine of Spades" facevalue="9" facetext="nine" color="black" suit="spades" class="NineOfSpades" />
			<card name="Ten of Spades" facevalue="10" facetext="ten" color="black" suit="spades" class="TenOfSpades" />		
			<card name="Jack of Spades" facevalue="11" facetext="jack" color="black" suit="spades" class="JackOfSpades" />
			<card name="Queen of Spades" facevalue="12" facetext="queen" color="black" suit="spades" class="QueenOfSpades" />
			<card name="King of Spades" facevalue="13" facetext="king" color="black" suit="spades" class="KingOfSpades" />		
			<card name="Ace of Hearts" facevalue="1;14" facetext="ace" color="red" suit="hearts" class="AceOfHearts" />
			<card name="Two of Hearts" facevalue="2" facetext="two" color="red" suit="hearts" class="TwoOfHearts" />
			<card name="Three of Hearts" facevalue="3" facetext="three" color="red" suit="hearts" class="ThreeOfHearts" />
			<card name="Four of Hearts" facevalue="4" facetext="four" color="red" suit="hearts" class="FourOfHearts" />
			<card name="Five of Hearts" facevalue="5" facetext="five" color="red" suit="hearts" class="FiveOfHearts" />
			<card name="Six of Hearts" facevalue="6" facetext="six" color="red" suit="hearts" class="SixOfHearts" />
			<card name="Seven of Hearts" facevalue="7" facetext="seven" color="red" suit="hearts" class="SevenOfHearts" />
			<card name="Eight of Hearts" facevalue="8" facetext="eight" color="red" suit="hearts" class="EightOfHearts" />
			<card name="Nine of Hearts" facevalue="9" facetext="nine" color="red" suit="hearts" class="NineOfHearts" />
			<card name="Ten of Hearts" facevalue="10" facetext="ten" color="red" suit="hearts" class="TenOfHearts" />		
			<card name="Jack of Hearts" facevalue="11" facetext="jack" color="red" suit="hearts" class="JackOfHearts" />
			<card name="Queen of Hearts" facevalue="12" facetext="queen" color="red" suit="hearts" class="QueenOfHearts" />
			<card name="King of Hearts" facevalue="13" facetext="king" color="red" suit="hearts" class="KingOfHearts" />		
			<card name="Ace of Diamonds" facevalue="1;14" facetext="ace" color="red" suit="diamonds" class="AceOfDiamonds" />
			<card name="Two of Diamonds" facevalue="2" facetext="two" color="red" suit="diamonds" class="TwoOfDiamonds" />
			<card name="Three of Diamonds" facevalue="3" facetext="three" color="red" suit="diamonds" class="ThreeOfDiamonds" />
			<card name="Four of Diamonds" facevalue="4" facetext="four" color="red" suit="diamonds" class="FourOfDiamonds" />
			<card name="Five of Diamonds" facevalue="5" facetext="five" color="red" suit="diamonds" class="FiveOfDiamonds" />
			<card name="Six of Diamonds" facevalue="6" facetext="six" color="red" suit="diamonds" class="SixOfDiamonds" />
			<card name="Seven of Diamonds" facevalue="7" facetext="seven" color="red" suit="diamonds" class="SevenOfDiamonds" />
			<card name="Eight of Diamonds" facevalue="8" facetext="eight" color="red" suit="diamonds" class="EightOfDiamonds" />
			<card name="Nine of Diamonds" facevalue="9" facetext="nine" color="red" suit="diamonds" class="NineOfDiamonds" />
			<card name="Ten of Diamonds" facevalue="10" facetext="ten" color="red" suit="diamonds" class="TenOfDiamonds" />		
			<card name="Jack of Diamonds" facevalue="11" facetext="jack" color="red" suit="diamonds" class="JackOfDiamonds" />
			<card name="Queen of Diamonds" facevalue="12" facetext="queen" color="red" suit="diamonds" class="QueenOfDiamonds" />
			<card name="King of Diamonds" facevalue="13" facetext="king" color="red" suit="diamonds" class="KingOfDiamonds" />		
			<card name="Ace of Clubs" facevalue="1;14" facetext="ace" color="black" suit="clubs" class="AceOfClubs" />
			<card name="Two of Clubs" facevalue="2" facetext="two" color="black" suit="clubs" class="TwoOfClubs" />
			<card name="Three of Clubs" facevalue="3" facetext="three" color="black" suit="clubs" class="ThreeOfClubs" />
			<card name="Four of Clubs" facevalue="4" facetext="four" color="black" suit="clubs" class="FourOfClubs" />
			<card name="Five of Clubs" facevalue="5" facetext="five" color="black" suit="clubs" class="FiveOfClubs" />
			<card name="Six of Clubs" facevalue="6" facetext="six" color="black" suit="clubs" class="SixOfClubs" />
			<card name="Seven of Clubs" facevalue="7" facetext="seven" color="black" suit="clubs" class="SevenOfClubs" />
			<card name="Eight of Clubs" facevalue="8" facetext="eight" color="black" suit="clubs" class="EightOfClubs" />
			<card name="Nine of Clubs" facevalue="9" facetext="nine" color="black" suit="clubs" class="NineOfClubs" />
			<card name="Ten of Clubs" facevalue="10" facetext="ten" color="black" suit="clubs" class="TenOfClubs" />		
			<card name="Jack of Clubs" facevalue="11" facetext="jack" color="black" suit="clubs" class="JackOfClubs" />
			<card name="Queen of Clubs" facevalue="12" facetext="queen" color="black" suit="clubs" class="QueenOfClubs" />
			<card name="King of Clubs" facevalue="13" facetext="king" color="black" suit="clubs" class="KingOfClubs" />
		</deck>
	</cards>
	<cardbacks>
		<back name="default" class="CardBackRed" designContainer="design" />
		<back name="redborder" class="CardBackRed" designContainer="design" />
		<back name="blueborder" class="CardBackBlue" designContainer="design" />
	</cardbacks>
	<hands>
		<!-- hand name="The display hand name" rank="unique numeric ranking of hand, the larger the more valuable" points="numeric points value per hand, may be the same" groupby="facevalue, facetext, color, or suit" groups="sub-groupby:groupby,groupby,...;sub-groupby:groupby,..." sort="asc, des, no"/ -->
		<!-- "sort" and "points" attributes are optional and default to "no" and 0, all others required -->
		<!-- "sort" attribute uses "facevalue" attribute as sort index -->
		<!-- aces="high" - use faceValueHigh when adding points for aces, otherwise use faceValue -->
		<!-- "groupby" attribute filter is applied first, then "sort" -->
		<!-- match can use * for groupby (some examples below) -->		
		<hand name="Royal Flush" rank="34" points="10" aces="high" groupby="suit" sort="asc" match="facetext:ten,jack,queen,king,ace" />
		<hand name="Straight Flush" rank="33" points="9" aces="low" groupby="suit" sort="asc" match="facetext:nine,ten,jack,queen,king" />
		<hand name="Straight Flush" rank="32" points="9" aces="low" groupby="suit" sort="asc" match="facetext:eight,nine,ten,jack,queen" />
		<hand name="Straight Flush" rank="31" points="9" gaces="low" roupby="suit" sort="asc" match="facetext:seven,eight,nine,ten,jack" />
		<hand name="Straight Flush" rank="30" points="9" aces="low" groupby="suit" sort="asc" match="facetext:six,seven,eight,nine,ten" />
		<hand name="Straight Flush" rank="29" points="9" aces="high" groupby="suit" sort="asc" match="facetext:five,six,seven,eight,nine" />
		<hand name="Straight Flush" rank="28" points="9" aces="low" groupby="suit" sort="asc" match="facetext:four,five,six,seven,eight" />
		<hand name="Straight Flush" rank="27" points="9" aces="low" groupby="suit" sort="asc" match="facetext:three,four,five,six,seven" />
		<hand name="Straight Flush" rank="26" points="9" aces="low" groupby="suit" sort="asc" match="facetext:two,three,four,five,six" />
		<hand name="Straight Flush" rank="25" points="9" aces="low" groupby="suit" sort="asc" match="facetext:ace,two,three,four,five" />		
		<hand name="Four of a Kind" rank="24" points="8" aces="high" groupby="facevalue" match="facetext:*,*,*,*;facetext:*" />
		<hand name="Full House" rank="23" points="7" aces="high" groupby="facevalue" match="facetext:*,*,*;facetext:*,*" />
		<hand name="Flush" rank="22" points="6" aces="high" groupby="suit" match="facetext:*,*,*,*,*" />		
		<hand name="Straight" rank="21" points="5" aces="low" groupby="*" sort="asc" match="facetext:ace,two,three,four,five" />
		<hand name="Straight" rank="20" points="5" aces="low" groupby="*" sort="asc" match="facetext:two,three,four,five,six" />
		<hand name="Straight" rank="19" points="5" aces="low" groupby="*" sort="asc" match="facetext:three,four,five,six,seven" />
		<hand name="Straight" rank="18" points="5" aces="low" groupby="*" sort="asc" match="facetext:four,five,six,seven,eight" />
		<hand name="Straight" rank="17" points="5" aces="low" groupby="*" sort="asc" match="facetext:five,six,seven,eight,nine" />
		<hand name="Straight" rank="16" points="5" aces="low" groupby="*" sort="asc" match="facetext:six,seven,eight,nine,ten" />
		<hand name="Straight" rank="15" points="5" aces="low" groupby="*" sort="asc" match="facetext:seven,eight,nine,ten,jack" />
		<hand name="Straight" rank="14" points="5" aces="low" groupby="*" sort="asc" match="facetext:eight,nine,ten,jack,queen" />
		<hand name="Straight" rank="13" points="5" aces="low" groupby="*" sort="asc" match="facetext:nine,ten,jack,queen,king" />
		<hand name="Straight" rank="12" points="5" aces="high" groupby="*" sort="asc" match="facetext:ten,jack,queen,king,ace" />
		<hand name="Three of a Kind" rank="11" points="4" aces="high" groupby="facevalue" match="facetext:*,*,*;facetext:*;facetext:*" />
		<hand name="Three of a Kind" rank="10" points="4" aces="high" groupby="facevalue" match="facetext:*;facetext:*,*,*;facetext:*" />
		<hand name="Three of a Kind" rank="9" points="4" aces="high" groupby="facevalue" match="facetext:*;facetext:*;facetext:*,*,*" />
		<hand name="Two Pair" rank="8" points="3" aces="high" groupby="facevalue" match="facetext:*,*;facetext:*,*;facetext:*" />
		<hand name="Two Pair" rank="7" points="3" aces="high" groupby="facevalue" match="facetext:*,*;facetext:*;facetext:*,*" />
		<hand name="Two Pair" rank="6" points="3" aces="high" groupby="facevalue" match="facetext:*;facetext:*,*;facetext:*,*" />
		<hand name="One Pair" rank="5" points="2" aces="high" groupby="facevalue" match="facetext:*,*;facetext:*;facetext:*;facetext:*" />
		<hand name="One Pair" rank="4" points="2" aces="high" groupby="facevalue" match="facetext:*;facetext:*,*;facetext:*;facetext:*" />
		<hand name="One Pair" rank="3" points="2" aces="high" groupby="facevalue" match="facetext:*;facetext:*;facetext:*,*;facetext:*" />
		<hand name="One Pair" rank="2" points="2" aces="high" groupby="facevalue" match="facetext:*;facetext:*;facetext:*;facetext:*,*" />
		<hand name="High Card" rank="1" points="1" aces="high" Sgroupby="facevalue" match="*" />
	</hands>
	<views>
		<default>
			<image name="gameBackground" src="../PokerCardGame/assets/poker_felt_table.png">
				<width>800</width>
				<height>600</height>
			</image>			
		</default>
		<bettingmodule>
			<component class="org.cg.ImageButton" name="betButton">
				<x>530</x>
				<y>35</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/bet_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/bet_button_over.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/bet_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/bet_button_disabled.png]]></disabledFacePath>
			</component>
			<component class="org.cg.ImageButton" name="raiseButton">
				<x>530</x>
				<y>35</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/raise_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/raise_button_over.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/raise_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/raise_button_disabled.png]]></disabledFacePath>
			</component>
			<component class="org.cg.ImageButton" name="callButton">
				<x>530</x>
				<y>35</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/call_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/call_button_over.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/call_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/call_button_disabled.png]]></disabledFacePath>
			</component>
			<component class="org.cg.ImageButton" name="foldButton">
				<x>670</x>
				<y>35</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/fold_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/fold_button_over.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/fold_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/fold_button_disabled.png]]></disabledFacePath>
			</component>
			<textfield name="betValue" font="Cabin Bold" size="40" color="0xFFFFFF">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<width>400</width>
				<text>$0.00</text>
				<x>380</x>
				<y>70</y>
			</textfield>			
			<textfield name="blindsTimerValue" font="Cabin Bold" size="45" color="0xFFFFFF">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<width>400</width>
				<text>00:00</text>
				<x>10</x>
				<y>530</y>
			</textfield>
			<textfield name="currentTableBetValue" font="Cabin Bold" size="25" color="0xFFFFFF">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<width>400</width>
				<text>Current table bet: $0.00</text>
				<x>430</x>
				<y>530</y>
			</textfield>
			<textfield name="currentTablePotValue" font="Cabin Bold" size="25" color="0xFFFFFF">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<width>400</width>
				<text>Current table pot: $0.00</text>
				<x>430</x>
				<y>555</y>
			</textfield>			
			<component class="org.cg.ImageButton" name="incLargeButton">
				<x>370</x>
				<y>170</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/incrl_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/incrl_button_up.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/incrl_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/incrl_button_disabled.png]]></disabledFacePath>
			</component>
			<component class="org.cg.ImageButton" name="incSmallButton">
				<x>450</x>
				<y>170</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/incrs_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/incrs_button_up.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/incrs_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/incrs_button_disabled.png]]></disabledFacePath>
			</component>
			<component class="org.cg.ImageButton" name="decLargeButton">
				<x>630</x>
				<y>170</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/decrl_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/decrl_button_up.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/decrl_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/decrl_button_disabled.png]]></disabledFacePath>
			</component>
			<component class="org.cg.ImageButton" name="decSmallButton">
				<x>710</x>
				<y>170</y>
				<upFacePath><![CDATA[../PokerCardGame/assets/decrs_button_up.png]]></upFacePath>
				<overFacePath><![CDATA[../PokerCardGame/assets/decrs_button_up.png]]></overFacePath>
				<downFacePath><![CDATA[../PokerCardGame/assets/decrs_button_down.png]]></downFacePath>
				<disabledFacePath><![CDATA[../PokerCardGame/assets/decrs_button_disabled.png]]></disabledFacePath>
			</component>
		</bettingmodule>
	</views>
</settings>