<?xml version="1.0" encoding="utf-8" ?>
<settings>	
	<netcliques>		
		<definition id="RTMFP_LAN" type="direct" class="p2p3.netcliques.RTMFP">
			<name>RTMFP on LAN/WLAN</name>
			<description>Direct peer-to-peer connectivity using RTMFP on a LAN/Wireless LAN.</description>
			<init>
				<parameters id="default">
					<!-- Non LAN/WLAN is standard URL. For example: rtmfp://p2p.rtmfp.net/your-rtmfp-net-developer-key -->
					<serverAddress><![CDATA[rtmfp:]]></serverAddress>
					<!-- Leave blank for non-LAN/WLAN connection. -->
					<ipmulticastaddress><![CDATA[225.225.0.3:33333]]></ipmulticastaddress>
					<!-- Developer key may be included here, with serverAddress, or hard-coded in class definitino (preferred). -->
					<developerKey></developerKey>
				</parameters>
			</init>
		</definition>
		<definition id="RTMFP_INET" type="direct" class="p2p3.netcliques.RTMFP">
			<name>RTMFP on Internet</name>
			<description>Assisted peer-to-peer connectivity using Rendezvous and RTMFP over the internet.</description>
			<init>
				<parameters id="default">
					<!-- Non LAN/WLAN is standard URL. For example: rtmfp://p2p.rtmfp.net/your-rtmfp-net-developer-key -->
					<serverAddress><![CDATA[rtmfp://p2p.rtmfp.net]]></serverAddress>
					<!-- Leave blank for non-LAN/WLAN connection. -->
					<ipmulticastaddress></ipmulticastaddress>
					<!-- Developer key may be included here, with serverAddress, or hard-coded in class definition (preferred). -->
					<developerKey></developerKey>
				</parameters>
			</init>
		</definition>
		<definition id="MULTIINSTANCE" type="direct" class="p2p3.netcliques.MultiInstance">
			<name>Local Multi-Instance</name>
			<description>Single device multi-instance connectivity.</description>
			<init>
				<parameters id="default">
					<stage><![CDATA[{stage}]]></stage>
				</parameters>
			</init>
		</definition>
	</netcliques>
	<!-- Defaults differ depending on the Lounge implementation. -->
	<defaults>
		<!-- Default RTMFP group when custom one isn't specified -->
		<rtmfpgroup>CypherPoker.Lounge</rtmfpgroup>
		<!-- Should cryptosystem optimizations be used? -->
		<optimizecrypto>false</optimizecrypto> 
		<!-- If concurrency is disabled, the maxcryptoworkers value is ignored (only one pseudo-worker in the main thread will be used) -->
		<!-- Additionally, if Worker functionality is unavailable in the runtime, this value will be forced to false. -->
		<concurrency>true</concurrency>
		<!-- Maximum number of concurrent crypto workers. Practical maximum is usually 3 but this should be measured per device. -->
		<maxcryptoworkers>3</maxcryptoworkers>
		<!-- Maximum period, in milliseconds, to retry an operation with a currently busy cryptoworker. -->
		<workerbusyretry>999</workerbusyretry>
		<!-- Maximum period, in milliseconds, to delay between some consecutive operations to accomodate multiple instances on the same device -->
		<multiinstancedelay>150</multiinstancedelay>
		<shufflecount>3</shufflecount>
		<!-- Default Crypto Byte Length -->
		<cryptobytelength>8</cryptobytelength>
		<ethereum>
			<enabled>false</enabled>
			<clientaddress>localhost</clientaddress>
			<clientport>8545</clientport>
		</ethereum>
	</defaults>
	<!-- Each view defined below may be rendered by the ViewManager class. -->
	<views>
		<!--
		Available components:
			
		<check  instance="targetInstanceName">					
			<format>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<color>0xFFFFFF</color>
				<size>18</size>				
				<font>Ubuntu-Title</font>
			</format>
			<label>Check me!</label>
		</check>
		<button  instance="targetInstanceName">				
			<format>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<color>0xFFFFFF</color>
				<size>18</size>				
				<font>Ubuntu-Title</font>
			</format>
			<label>A button</label>	
		</button>
		<textinput instance="targetInstanceName">
			<promptformat>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<align>center</align>
				<valign>center</valign>
				<color>0xFFFFFF</color>
				<size>18</size>				
				<font>Ubuntu-Title</font>
			</promptformat>
			<inputformat>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<align>left</align>
				<valign>center</valign>
				<color>0xFFFFFF</color>
				<size>18</size>				
				<font>Ubuntu-Title</font>
			</inputformat>
			<password>false</password>					
			<editable>true</editable>
			<selectable>true</selectable>
			<prompt>Enter text:</prompt>
			<text>Some text</text>
			<restrict>abcdefghijklmnopABCDEFGHIJKLMNOP0123456789-=.,+</restrict>
			<maxchars>100</maxchars>
			
			<pickerlist instance="targetInstanceName">
				<buttonformat>
					<bold>false</bold>
					<italic>false</italic>
					<underline>false</underline>
					<valign>center</valign>
					<color>0x000000</color>
					<size>22</size>				
					<font>Ubuntu-Title</font>
				</buttonformat>
				<listformat>
					<bold>false</bold>
					<italic>false</italic>
					<underline>false</underline>
					<valign>center</valign>
					<color>0xFFFFFF</color>
					<size>22</size>				
					<font>Ubuntu-Title</font>
				</listformat>
				<prompt>Create new account entry</prompt>
				<selectedindex>-1</selectedindex>
			</pickerlist>
		</textinput>
			-->		
		<panel position="bottom" width="800" height="1300">
			<widget class="org.cg.panelwidgets.EthereumAccountWidget" hpadding="20" vpadding="20">
				<button instance="newAccountButton">				
					<format>
						<underline>false</underline>
						<color>0x000000</color>
						<size>22</size>				
						<font>Abel</font>
					</format>
					<x>10</x>
					<y>62</y>
					<icon><![CDATA[./assets/icons/ic_add_box_black_36dp.png]]></icon>
					<label>NEW ACCOUNT</label>	
				</button>
				<button instance="deleteAccountButton">				
					<format>						
						<underline>false</underline>
						<color>0x000000</color>
						<size>22</size>				
						<font>Abel</font>
					</format>
					<x>10</x>
					<y>126</y>
					<icon><![CDATA[./assets/icons/ic_highlight_off_black_36dp.png]]></icon>
					<label>DELETE ACCOUNT</label>	
				</button>
				<button instance="updateAccountButton">				
					<format>						
						<color>0x000000</color>
						<size>22</size>				
						<font>Abel</font>
					</format>
					<x>10</x>
					<y>190</y>
					<icon><![CDATA[./assets/icons/ic_list_black_36dp.png]]></icon>
					<label>UPDATE ACCOUNT</label>	
				</button>
				<textinput instance="accountEdit">
					<inputformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<valign>center</valign>
						<color>0x000000</color>
						<size>22</size>				
						<font>Abel</font>
					</inputformat>
					<promptformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<align>center</align>
						<color>0xA0A0A0</color>
						<size>22</size>				
						<font>Abel</font>
					</promptformat>
					<x>0</x>
					<y>0</y>					
					<width>583</width>
					<prompt>Enter account address</prompt>
					<editable>true</editable>
					<selectable>true</selectable>
					<icon><![CDATA[./assets/icons/ic_account_balance_wallet_black_36dp.png]]></icon>
					<restrict>0x0123456789ABCDEFabcdef</restrict>
					<maxchars>42</maxchars>
				</textinput>
				<textinput instance="passwordEdit">
					<inputformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<valign>center</valign>
						<color>0x000000</color>
						<size>22</size>				
						<font>Abel</font>
					</inputformat>
					<promptformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<align>center</align>
						<color>0xA0A0A0</color>
						<size>22</size>				
						<font>Abel</font>
					</promptformat>
					<x>0</x>
					<y>62</y>
					<width>583</width>
					<icon><![CDATA[./assets/icons/ic_vpn_key_black_36dp.png]]></icon>
					<prompt>Enter password</prompt>
					<password>true</password>					
					<editable>true</editable>
					<selectable>true</selectable>					
				</textinput>			
				<pickerlist instance="accountPicker">
					<buttonformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<valign>center</valign>
						<color>0x000000</color>
						<size>22</size>				
						<font>Abel</font>
					</buttonformat>
					<buttondisabledformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<valign>center</valign>
						<color>0xD0D0D0</color>
						<size>22</size>				
						<font>Abel</font>
					</buttondisabledformat>
					<listformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<valign>center</valign>
						<color>0x606060</color>
						<size>22</size>				
						<font>Abel</font>
					</listformat>	
					<selectedformat>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<valign>center</valign>
						<color>0x606060</color>
						<size>23</size>				
						<font>Abel</font>
					</selectedformat>
					<width>583</width>					
					<prompt>no account</prompt>
					<selectedindex>-1</selectedindex>
				</pickerlist>
				<button instance="cancelButton">				
					<format>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<color>0x000000</color>
						<size>26</size>				
						<font>Abel</font>
					</format>
					<icon><![CDATA[./assets/icons/ic_highlight_off_black_36dp.png]]></icon>
					<x>590</x>
					<y>0</y>
					<label>CANCEL</label>	
				</button>
				<button instance="okButton">				
					<format>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<color>0x000000</color>
						<size>26</size>				
						<font>Abel</font>
					</format>
					<icon><![CDATA[./assets/icons/ic_check_circle_black_36dp.png]]></icon>
					<x>590</x>
					<y>62</y>
					<label>OKAY</label>	
				</button>
				<check instance="savePasswordInConfig">
					<format>
						<bold>false</bold>
						<italic>false</italic>
						<underline>false</underline>
						<color>0X000000</color>
						<size>22</size>				
						<font>Abel</font>
					</format>
					<x>10</x>
					<y>130</y>					
					<label>Save unencrypted password locally</label>
				</check>				
			</widget>
			<widget class="org.cg.panelwidgets.PanelWidget" hpadding="20" vpadding="20">
				<toggleswitch>
					<x>10</x>
					<y>96</y>
					<label>Yes?</label>
				</toggleswitch>
			</widget>
			<widget class="org.cg.panelwidgets.EthereumEnableWidget" hpadding="20" vpadding="20">
				<enablemessage>Enable Ethereum Integration</enablemessage>
				<enablingmessage>(Enabling Ethereum Integration)</enablingmessage>
				<enabledmessage>Disable Ethereum Integrationz</enabledmessage>				
				<togglebutton instance="toggle">
					<format>												
						<color>0x000000</color>
						<size>24</size>				
						<font>Abel</font>
					</format>					
					<formatselected>						
						<color>0xA0A0A0</color>
						<size>24</size>				
						<font>Abel</font>
					</formatselected>
					<x>0</x>
					<y>0</y>					
					<icon><![CDATA[./assets/icons/ic_power_settings_new_black_36dp.png]]></icon>					
					<label>Enable Ethereum Integration</label>	
				</togglebutton>
				<check instance="enableautolaunch">
					<format>					
						<color>0X000000</color>
						<size>22</size>				
						<font>Abel</font>
					</format>
					<x>10</x>
					<y>62</y>					
					<label>Enable auto-start at launch</label>
				</check>
			</widget>
		</panel>
		<alert>
			<promptformat>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<color>0x000000</color>
				<size>22</size>				
				<font>Abel</font>
			</promptformat>
			<headerformat>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<color>0x000000</color>
				<size>22</size>				
				<font>Abel</font>
			</headerformat>
			<buttonformat>
				<bold>false</bold>
				<italic>false</italic>
				<underline>false</underline>
				<color>0x000000</color>
				<size>22</size>				
				<font>Abel</font>
			</buttonformat>
		</alert>
		<!-- connect>
			<image name="background" src="./assets/white_background.png">
				<x>0</x>
				<y>0</y>
			</image>
			<component class="feather.controls.Button" name="connectLANGame">
				<x>220</x>
				<y>220</y>
				<width>132</width>
				<height>132</height>	
				<label>Connect to LAN/WLAN game</label>				
			</component>			
			<component class="feather.controls.Button" name="connectWebGame">
				<x>450</x>
				<y>220</y>
				<width>132</width>
				<height>132</height>	
				<label>Connect to web game</label>				
			</component>
			<textfield name="gameIDPrompt" font="_sans" size="35">
				<x>80</x>
				<y>380</y>				
				<width>450</width>
				<type>dynamic</type>
				<selectable>false</selectable>
				<text>Private game identifier:</text>				
			</textfield>
			<textfield name="privateGameID" font="_sans" size="35">
				<x>450</x>
				<y>380</y>				
				<width>260</width>
				<height>42</height>
				<type>input</type>
				<border>true</border>
				<multiline>false</multiline>
				<selectable>true</selectable>
				<text>My private game</text>				
			</textfield>
		</connect>
		<localstart>
			<image name="background" src="./assets/white_background.png">
				<x>0</x>
				<y>0</y>
			</image>
			<component class="com.bit101.components.PushButton" name="startGame">
				<x>350</x>
				<y>220</y>
				<width>132</width>
				<height>132</height>	
				<label>START GAME</label>				
			</component>
			<textfield name="playerBalancePrompt" font="_sans" size="35">
				<x>270</x>
				<y>360</y>				
				<width>300</width>
				<type>dynamic</type>
				<selectable>false</selectable>
				<text>Player buy-in:</text>				
			</textfield>
			<textfield name="startingPlayerBalances" font="_sans" size="35">
				<x>490</x>
				<y>360</y>
				<height>50</height>
				<width>100</width>
				<border>true</border>
				<type>input</type>
				<selectable>true</selectable>
				<text>50</text>				
			</textfield>
			<image name="peerCountIcon" src="./assets/people-structure-icon_48.png">
				<x>0</x>
				<y>0</y>
			</image>
			<textfield name="activeConnectionsText" font="_sans" size="45">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<text>0</text>
				<x>60</x>				
			</textfield>
		</localstart>
		<webstart>
			<image name="background" src="./assets/white_background.png">
				<x>0</x>
				<y>0</y>
			</image>
			<component class="com.bit101.components.PushButton" name="startGame">
				<x>350</x>
				<y>220</y>
				<width>132</width>
				<height>132</height>	
				<label>START GAME</label>				
			</component>
			<textfield name="playerBalancePrompt" font="_sans" size="35">
				<x>270</x>
				<y>360</y>				
				<width>300</width>
				<type>dynamic</type>
				<selectable>false</selectable>
				<text>Player buy-in:</text>				
			</textfield>
			<textfield name="startingPlayerBalances" font="_sans" size="35">
				<x>490</x>
				<y>360</y>
				<height>50</height>
				<width>100</width>
				<border>true</border>
				<type>input</type>
				<selectable>true</selectable>
				<text>50</text>				
			</textfield>
			<image name="peerCountIcon" src="./assets/people-structure-icon_48.png">
				<x>0</x>
				<y>0</y>
			</image>
			<textfield name="activeConnectionsText" font="_sans" size="45">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<text>0</text>
				<x>60</x>				
			</textfield>
		</webstart -->
		<debug class="org.cg.DebugView" />
		<ethconsole class="org.cg.EthereumConsoleView" />
		<game>
			<swf name="game"><![CDATA[./PokerCardGame/PokerCardGame.swf]]></swf>
		</game>		 
	</views>
	<!-- pregenerated / optimization values -->
	<pregen>		
		<entry cbl="8">
			<prime>0xB796DE0545AAEF71</prime>			
		</entry>
		<entry cbl="64">
			<prime>0x956C62AB0DD1C266BD5D50948140A2B44E819F8B0F596126E1B3DE625DD24BB239F80BAA7B1DC02BD781A37D70625B208D9F6247F49AC498EE7B39F6AD875535</prime>
		</entry>		
		<entry cbl="96">
			<prime>0x857B6FFE7F3ECC8BB63179938B29CBB2210455DCE61734ACD621983B59047B3F0507EC46ACD904EFDE304306712B3E62F4086DDA7EBDA4404DA09FB9ECD626E413B9C76792C6402C96CACF829181D1B4D61DE5B46C13ACEE7C9BDC80938328A5</prime>
		</entry>
		<entry cbl="128">
			<prime>0xFF56C5048374AAAEC42CD12B214E7C7C27C70E7F1B6EE0EC6AC39E8227599C689A7D757F8F953EC1AD5C6ED505D153C10D6E956483109E032E66388FC65BAE6189B9FAE239BE3A21EFA6991365E8E79C06F713390D38063FD1CC27003AEFAD78961F390601A8B283F8D15587EC4C69F09EEEFF315807D4C1D672452F494AE4D5</prime>
		</entry>
		<entry cbl="192">
			<prime>0xB5322D3236F89686FFB86380697143FD8F33908B86DA09E5EB30ED4F0BC6B3B442DFB820309465A978A59A631F0F373333E0623BE48A205907A05809C1BD12FA1676C88CB6C78BA70D2A905FCEFA3CF2BEC1FAD802F35E6580F7288C6AFF775146B4024B6D6374A13E9CCFEB8EC0982BD6DB8E433067971C0227878E05E3D8904F873954B74EBE131D2DECC8FBC0A6AD51F823DE9F1B13F7E884BC88B58C1CACDBF9CFDD64FCE4B488C9D04F77DDCB1C87E9424341E98476AC293EE4A9FB4947</prime>
		</entry>
		<entry cbl="256">
			<prime>0x84A5F480BEED0DE0E385127B07331034B3EBD66898B8D283584B414BC44C7307EB63093240F290EEC7EF0E211298F1FD86EA55C11A107F08EADBB11A371D9DB09E9EEB6C796A1DE99578421A9E7C98FF965A82F6F9559231CF440F038D33CCEE17DE0680948B806769922C25C1DDCEE338ED69968B85B511A65D4453DF6276195FE54E9191FDE41CFDCA96ED74B06C53058FBE748BBAE6DBB4B935AC34458E89E5E0A084D95835E71CD4004575938E80CBE67B18160BAFBE79760AC2CD79081EAFB7E21F9D97191CA6E68AAE82E44F7F5B3B10EE47080FB22D335826A9905F0FEF1EF6F74C416C6B00510B7CAD643B51FA6B31016324FBB76B73EAB06C0ED85D</prime>
		</entry>
	</pregen>
	<accounts>
		<account>
			<address>0x8c5551181fdacb42b625fa32c643996464a9bbe4</address>
			<password></password>
		</account>
		<account>
			<address>0x5dc8da1f7fc29bc639c56330334f35946aab6b3d</address>
			<password></password>
		</account>
	</accounts>
</settings>