<?xml version="1.0" encoding="utf-8" ?>
<settings>	
	<netcliques>		
		<definition id="RTMFP_LAN" type="direct" class="p2p3.netcliques.RTMFP">
			<name>RTMFP on LAN/WLAN</name>
			<description>Direct peer-to-peer connectivity using RTMFP on a LAN/Wireless LAN.</description>
			<init>
				<parameters id="default">
					<!-- Non LAN/WLAN is standard URL. For example: rtmfp://p2p.rtmfp.net/your-rtmfp-net-developer-key -->
					<serverAddress><![CDATA[rtmfp:]]></serverAddress>
					<!-- Leave blank for non-LAN/WLAN connection. -->
					<ipmulticastaddress><![CDATA[225.225.0.3:33333]]></ipmulticastaddress>
					<!-- Developer key may be included here, with serverAddress, or hard-coded in class definitino (preferred). -->
					<developerKey></developerKey>
				</parameters>
			</init>
		</definition>
		<definition id="RTMFP_INET" type="direct" class="p2p3.netcliques.RTMFP">
			<name>RTMFP on Internet</name>
			<description>Assisted peer-to-peer connectivity using Rendezvous and RTMFP over the internet.</description>
			<init>
				<parameters id="default">
					<!-- Non LAN/WLAN is standard URL. For example: rtmfp://p2p.rtmfp.net/your-rtmfp-net-developer-key -->
					<serverAddress><![CDATA[rtmfp://p2p.rtmfp.net]]></serverAddress>
					<!-- Leave blank for non-LAN/WLAN connection. -->
					<ipmulticastaddress></ipmulticastaddress>
					<!-- Developer key may be included here, with serverAddress, or hard-coded in class definition (preferred). -->
					<developerKey></developerKey>
				</parameters>
			</init>
		</definition>
		<definition id="MULTIINSTANCE" type="direct" class="p2p3.netcliques.MultiInstance">
			<name>Local Multi-Instance</name>
			<description>Single device multi-instance connectivity.</description>
			<init>
				<parameters id="default">
					<stage><![CDATA[{stage}]]></stage>
				</parameters>
			</init>
		</definition>
	</netcliques>
	<!-- Defaults differ depending on the Lounge implementation. -->
	<defaults>
		<rtmfpgroup>P2P3.InstantLocalLounge</rtmfpgroup>
		<!-- Leader status is assumed if no peer responses in leadertimeout seconds -->
		<leadertimeout>1</leadertimeout>		
		<!-- If concurrency is disabled, the maxcryptoworkers value is ignored (only one pseudo-worker in the main thread will be used) -->
		<!-- Additionally, if Worker functionality is unavailable in the runtime, this value will be forced to false. -->
		<concurrency>true</concurrency>
		<!-- Maximum number of concurrent crypto workers. Practical maximum is usually 3 but this should be measured per device. -->
		<maxcryptoworkers>3</maxcryptoworkers>
		<!-- Maximum period, in milliseconds, to retry an operation with a currently busy cryptoworker. -->
		<workerbusyretry>999</workerbusyretry>
		<!-- Maximum period, in milliseconds, to delay between some consecutive operations to accomodate multiple instances on the same device -->
		<multiinstancedelay>150</multiinstancedelay>
		<!-- Default Crypto Byte Length -->
		<cryptobytelength>32</cryptobytelength>
		<ethereum>
			<enabled>true</enabled>
			<clientaddress>localhost</clientaddress>
			<clientport>8545</clientport>
			<!-- Clients are stored by known versions within the native client folder (versions are included in the <clientversions> data) -->
			<nativeclientfolder><![CDATA[app-storage:/EthereumClient/]]></nativeclientfolder>
			<datadirectory><![CDATA[../v1.4.11/data/]]></datadirectory>
			<clientversions>
				<client>					              
					<url><![CDATA[https://github.com/ethereum/go-ethereum/releases/download/v1.4.18/geth-windows-amd64-1.4.18-ef9265d0.zip]]></url>
					<version>1.4.18</version>					           
					<sha256sig>d26dd020c7c2a3bbae9e9cdfb278a24d2e840be3910c88b87e7a04fb46fa7bf1</sha256sig>
				</client>
				<client>					              
					<url><![CDATA[https://github.com/ethereum/go-ethereum/releases/download/v1.4.11/Geth-Win64-20160818153642-1.4.11-fed692f.zip]]></url>
					<version>1.4.11</version>
					<sha256sig></sha256sig>
				</client>
			</clientversions>			
		</ethereum>
	</defaults>
	<!-- Deployed smart contracts existing on the blockchain -->
	<smartcontracts>
		<ethereum>			
			<network id="1">
			</network>
			<!-- Morden testnet -->
			<network id="2">					
				<CryptoCards type="library">
					<address>0x07a6864227a8b03943ea4a78e9004726a9548daa</address>
					<!-- txhash and interface aren't included since libraries aren't invoked directly -->
					<txhash></txhash>
					<interface></interface>					
				</CryptoCards>
				<GamePhase type="library">
					<address>0xbd9ebebb7d9a6c184eaea92c50d0295539415452</address>
					<txhash></txhash>
					<interface></interface>
				</GamePhase>
				<PokerBetting type="library">
					<address>0xc5c51c3d248cba19813292c5c5089b8413e75a50</address>
					<txhash></txhash>
					<interface></interface>
				</PokerBetting>
				<PokerHandAnalyzer type="library">
					<address>0x1887b0571d8e42632ca6509d31e3edc072408a90</address>
					<txhash></txhash>
					<interface></interface>
				</PokerHandAnalyzer>
			</network>
		</ethereum>
	</smartcontracts>
	<!-- Each view defined below may be rendered by the ViewManager class. -->
	<views>
		<connect>
			<image name="background" src="../assets/white_background.png">
				<x>0</x>
				<y>0</y>
			</image>
			<component class="com.bit101.components.PushButton" name="connectLANGame">
				<x>220</x>
				<y>120</y>
				<width>132</width>
				<height>132</height>	
				<label>Connect to LAN/WLAN game</label>				
			</component>			
			<component class="com.bit101.components.PushButton" name="connectWebGame">
				<x>450</x>
				<y>120</y>
				<width>132</width>
				<height>132</height>	
				<label>Connect to web game</label>				
			</component>
			<component class="com.bit101.components.PushButton" name="launchNewLounge">
				<x>320</x>
				<y>280</y>
				<width>132</width>
				<height>52</height>	
				<label>Open new game window</label>				
			</component>			
			<textfield name="gameIDPrompt" font="_sans" size="35">
				<x>80</x>
				<y>380</y>				
				<width>450</width>
				<type>dynamic</type>
				<selectable>false</selectable>
				<text>Private game identifier:</text>				
			</textfield>
			<textfield name="privateGameID" font="_sans" size="35">
				<x>450</x>
				<y>380</y>				
				<width>260</width>
				<height>42</height>
				<type>input</type>
				<border>true</border>
				<multiline>false</multiline>
				<selectable>true</selectable>
				<text>My private game</text>				
			</textfield>
			<textfield name="ethereumAccountPrompt" font="_sans" size="25">
				<x>20</x>
				<y>430</y>				
				<width>450</width>
				<type>dynamic</type>
				<selectable>false</selectable>
				<text>Ethereum account:</text>				
			</textfield>
			<textfield name="ethereumAccountField" font="_sans" size="25">
				<x>260</x>
				<y>430</y>				
				<width>480</width>
				<height>36</height>
				<type>input</type>
				<border>true</border>
				<multiline>false</multiline>
				<selectable>true</selectable>
				<text>0x</text>				
			</textfield>
			<textfield name="ethereumAccountPwPrompt" font="_sans" size="25">
				<x>20</x>
				<y>470</y>				
				<width>450</width>
				<type>dynamic</type>
				<selectable>false</selectable>
				<text>Account password:</text>				
			</textfield>
			<textfield name="ethereumAccountPasswordField" font="_sans" size="25">
				<x>260</x>
				<y>470</y>				
				<width>480</width>
				<height>36</height>
				<type>input</type>
				<border>true</border>
				<displayAsPassword>true</displayAsPassword>
				<multiline>false</multiline>
				<selectable>true</selectable>
				<text></text>				
			</textfield>
		</connect>
		<localstart>
			<image name="background" src="../assets/white_background.png">
				<x>0</x>
				<y>0</y>
			</image>
			<component class="com.bit101.components.PushButton" name="startGame">
				<x>350</x>
				<y>220</y>
				<width>132</width>
				<height>132</height>	
				<label>START GAME</label>				
			</component>			
			<image name="peerCountIcon" src="../assets/people-structure-icon_48.png">
				<x>0</x>
				<y>0</y>
			</image>
			<textfield name="activeConnectionsText" font="_sans" size="45">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<text>0</text>
				<x>60</x>				
			</textfield>
		</localstart>
		<webstart>
			<image name="background" src="../assets/white_background.png">
				<x>0</x>
				<y>0</y>
			</image>
			<component class="com.bit101.components.PushButton" name="startGame">
				<x>350</x>
				<y>220</y>
				<width>132</width>
				<height>132</height>	
				<label>START GAME</label>				
			</component>		
			<image name="peerCountIcon" src="../assets/people-structure-icon_48.png">
				<x>0</x>
				<y>0</y>
			</image>
			<textfield name="activeConnectionsText" font="_sans" size="45">
				<type>dynamic</type>
				<selectable>false</selectable>				
				<text>0</text>
				<x>60</x>				
			</textfield>
		</webstart>
		<debug class="org.cg.DebugView" />
		<ethconsole class="org.cg.EthereumConsoleView" />
		<game>
			<swf name="game"><![CDATA[../PokerCardGame/PokerCardGame.swf]]></swf>
		</game>		 
	</views>
</settings>